<!-- your html code here -->
<div class="container mt-4">
  <h1>Contact</h1>
  <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
    commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus</p>
  <form class="container">
    <div class="mb-3 row justify-content-center">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-6 justify-content-center">
        <input type="text" class="form-control" placeholder="Your email" aria-label="Your email"
          aria-describedby="basic-addon2">
      </div>
    </div>
    <div class="mb-3 row justify-content-center">
      <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Example textarea</label>
      <div class="col-sm-6">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
          placeholder="Please enter your message here"></textarea>
        <div class="text-end mt-4">
          <input class="btn btn-primary" type="submit" value="Submit">
        </div>
      </div>
    </div>
  </form>
</div>