<!-- your html code here -->

 <div class="container">
    <div class="row g-0 overflow-hidden flex-md-row mb-4 position-relative">
        <div class="col-auto d-none d-lg-block h-md-250 ">
        <img src="../website/assets/img/2.jpg" alt="Service" class="rounded-circle">
    </div>
        <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h3>

          <p class="mb-auto">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
            Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
 </div>
